{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			body {
				background-color: #fbfbfb;
				display: flex;
				min-height: 100vh;
				flex-direction: column;
			}
			main {
				flex: 1 0 auto;
			}
		</style>
		{% block css %}
		{% endblock %}
	</head>

	<body>
		<div class="navbar-fixed">
			<nav style="box-shadow:none" class="blue">
				<div class="nav-wrapper">
					<a href="/osint" class="brand-logo">&nbsp;&nbsp;Datasploit</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="https://twitter.com/upgoingstar">Twitter</a></li>
						<li><a href="https://github.com/upgoingstar/datasploit">Github</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<main>
		{% block content %}	
		{% endblock %}
		</main>
		<footer class="page-footer blue" style="padding-top: 0">
			<div class="footer-copyright">
				&nbsp;&nbsp;
				© 2016 Shubham Mittal
				<a class="grey-text text-lighten-4 right" href="#!">Some Link&nbsp;&nbsp;</a>
			</div>
		</footer>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="{% static 'js/jquery-latest.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
		{% block js %}
		{% endblock %}
	</body>
</html>
