{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<style>
		#ds-search, #ds-search:active, #ds-search:focus {
			margin:0;
			border: none;
			box-shadow:none;
			font-size:22pt;
		}
	</style>
{% endblock %}
{% block content %}	
	<section class="blue" style="height:300px;">
		<div class="heading center white-text" style="padding-top:50px;">
			<span style="font-size:46pt;font-weight:300;">DataSploit</span>
		</div>
		<div class="sub-heading center white-text" style="padding-top:5px;">
			<span style="font-size:20pt;font-weight:300;">Your Open Source #OSINT Partner</span>
		</div>
	</section>

	<div class="container">
		<div class="pushup" style="margin-top:-50px">
			<div class="row">
				<div class="col s12">
					<div class="card white">
						<div class="card-content">
							<form id="ds-search-form" method="POST" action="search">
								<input name="domain" id='ds-search' placeholder="" type="text"></input>
								{% csrf_token %}
							</form>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title"><center>Enter the domain name in the above text box and wait for the results...</center></span>
					<p>
</p>
				</div>
			</div>
		</div>
		<div class="col s12 m4" height="10">
			<div class="card">
				<div class="card-content">
					<p> <a class="twitter-timeline" data-height="800" href="https://twitter.com/datasploit">Tweets by Datasploit</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="twitter">
				<div class="card-content">
					<p>            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%40datasploit" data-widget-id="754092553293602816">Tweets about @datasploit</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
          </p>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="twitter">
				<div class="card-content">
					<p>
					</p>
				</div>
			</div>
		</div>




	</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/typed.js' %}"></script>
	<script>
		$(function() {
			$('#ds-search-form').submit(function() {
				var domain = $('#ds-search').val();
				if(!(/^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$/.test(domain)))
				{
					Materialize.toast("Yikes! That doesn't look like a domain!", 4000);
					return false;
				}
			});
			$('#ds-search').typed({
				strings: ["It all starts with a search!", "www.google.com", "www.goibibo.com", "www.amazon.in", "www.imdb.com", "www.github.com", "www.twitter.com"],
				typeSpeed: 5,
				loop: true,
				backDelay: 2000,
				startdelay: 500,
				attr: "placeholder"
			});
			$('#ds-search').focus();
		});
	</script>
{% endblock %}
