{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<style>
		
	</style>
{% endblock %}
{% block content %}
<div>
	<div id="in-progress" class="center"> 
		<div style="font-weight:300; font-size:20pt;"> 
			<p>
				Searching information for <a href="http://{{ domain }}">{{ domain }}</a>
			</p>
			<div class="preloader-wrapper medium active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		<p>
			Please wait...
		</p>
		<div id="status-box">
			Querying my sources... <span id="sources"></span>
		</div>
	</div>
	<div id="complete" style="display:none;">
		<div class="center" style="font-weight:300; font-size:20pt;"> 
			<p>
				Results for <a href="http://{{ domain }}">{{ domain }}</a>
			</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12" id="results-area">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	<script>
		$(function() {	
			function getStatus() {
				$.post("status", {"taskId": "{{ taskId }}", "domain": "{{ domain }}"}, function(output) {
					var result = JSON.parse(output);
					if(!result.status)
					{
						if(!(result.message == "STOP"))
						{
							setTimeout(getStatus, 2000);
							$('#sources').html(result.message[result.message.length - 1])
						}
					}
					else
					{
						var results = JSON.parse(output);
						var mainhtml = '<ul class="collapsible popout" data-collapsible="accordion">';
						var html = []
						for(var i in results.message)
						{
							var doc = results.message[i];
							var lh = '<li><div class="collapsible-header">' + doc.type + '</div><div class="collapsible-body"><p>' + JSON.stringify(doc.data) + '</p></div></li>';
							html.push(lh)
						}
						mainhtml += html.join("");
						mainhtml += "</ul>";
                                		$('#results-area').html(mainhtml);
						$('.collapsible').collapsible({});
						$('#in-progress').hide()
						$('#complete').show();
					}
	                        });
			}
			setTimeout(getStatus, 0);
			/*
			$.post("status", {"taskId": "{{ taskId }}"}, function(output) {
				console.log(output);
			});
			*/
		});
	</script>
{% endblock %}
